.CDdiv{
    width: 75%;
    border-color: white;
    border: 2px solid white;
    border-radius: 25px;
    background-color: white;
    height: 200px;
    justify-content: center;
}

.CDdiv p{
    justify-content: center;
}
