@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #b7d9f1;
    font-family: 'Montserrat', sans-serif;

}

.loginbutton{
  margin-top: 15px;
}

  .title-row{
    padding-top: 10px;
    height: 100px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #CEF5AF;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }

  .sidenav a {
    padding: 8px 8px 8px 85px;
    text-decoration: none;
    font-size: 25px;
    color: #868080;
    display: block;
    transition: 0.3s;
  }

  .logo{
    height: 250px;
    padding-bottom: 20px;
  }

  .sidenav a:hover {
    color: #3d3838;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }

  .btn-circle i {
    position: relative;
    top: -1px;
  }

  [type='radio'] {
    display: none;
    }

  .quote{
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: rgb(48, 146, 192);
    border: 2px solid rgb(48, 146, 192);
    border-radius: 10px;
    background-color: rgb(48, 146, 192);
  }

  .border1{
    padding-top: 15px;
    border-color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
  }

  .border2{
    padding-top: 25px;
    padding-bottom: 25px;
    border-color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
  }

.button:hover {background-color: #357237}

.excited{
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 67px;
}

.excited:hover {
  background-color: #dce4dc80
}


.happy{
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
  height: 65px;
}

.happy:hover {
  background-color: #dce4dc80
}

.neutral{
  padding-top: 4px;
  padding-left: 20px;
  padding-right: 20px;
  height: 68px;
}

.neutral:hover {
  background-color: #dce4dc80
}

.sad{
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 65px;
}

.sad:hover {
  background-color: #dce4dc80
}

.mad{
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  height: 67px;
}

.mad:hover {
  background-color: #dce4dc80
}

/*login page*/
  button[type=button] {
    text-align: center;
    font-size:0.8em;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-bottom:20px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #22acea;
    width: 250px;
    height:50px;
    border-radius:25px;
    font-size: 1.3em;
    font-family: dm-sans, sans-serif;
    font-weight: 700;
    background-image: none;

}

#button {
    text-align: center;
    font-size:0.8em;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-bottom:20px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #22acea;
    width: 250px;
    height:50px;
    border-radius:25px;
    font-size: 1.3em;
    font-family: dm-sans, sans-serif;
    font-weight: 700;
    background-image: none;
}

.login {
    margin: auto;
    width: 50%;
}

.end-pic {
    text-align: center;
}

.end-pic img {
    width: 35%;

}


/*calendar*/
.calendar img{
    width: 20%;
    margin-left: 40vw;

}

.column {
    float:left;
    width: 50%;
}

.row:after {
    content:"";
    display: table;
    clear:both;
}

#fullDiv h1 {
    color: #55839D;
}

#fullDiv {
  position: flex;
  margin: 0;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  float: left;
  display: block;
  width: 14.2857%;
  text-align: center;
  list-style-type: none;
  margin-bottom: 8px;
  font-size: 130%;
}

li:nth-child(n+1):nth-child(-n+7) {
  font-weight: 900;
  color: #F7CFB9;
  background-color: #55839D;
  margin-bottom: 5px;
}


li:nth-child(n+8):nth-child(-n+12) {
  font-weight: 900;
  color: rgba(0,0,0,.3);
}

li:hover:nth-child(n+8):nth-child(-n+38), li:nth-child(29){
  border-radius: 10px;
  background-color: #55839D;
  color: #ecf0f1;
}

#description {
    margin-left: 15vw;
    margin-right:15vw;
    background-color: #55839D;
    border-radius: 10px;
    display:none;
}

#description p {
    color: #ffffff;
    margin-bottom:30px;
    margin-left: 15px;
}


/*profile page*/

.column {
    float:left;
    width: 50%;
}

.row:after {
    content:"";
    display: table;
    clear:both;
}

.account {
    margin-left: 10vw;
}

.account h3{
    color: #55839D;
}

.hours {
    background-color: #55839D;
    border-radius: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.hours h1 {
    text-align: center;
    color: WHITE;
}

.hours h2{
    color: WHITE;
    margin-left: 5vw;
    margin-right: 5vw;
}

.graph {
    background-color: #55839D;
    border-radius: 10px;
    margin-right: 10vw;
}

.graph h2{
    color: WHITE;
    margin-left: 5vw;
    margin-right: 5vw;
}

.graph img{
    width: 70%;
    margin-bottom: 2vw;
    margin-left: 3vw;
}


.awards {
    background-color: #55839D;
    border-radius: 10px;
    margin-top: 8vw;
    margin-left: 10vw;
    margin-right: 10vw;
}


.awards h2{
    color: WHITE;
    margin-left: 5vw;
    margin-right: 5vw;

}

.awards img {
    width: 10%;
    margin-left: 5vw;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .calendar{

  }

  a{
    text-decoration: none;
  }

  .index{
    width:50%;
    position: fixed;
    margin-top: 10%;
  }

  .rightside{
    background-image: url("waves.png");
  }
