@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #b7d9f1;
    font-family: 'Montserrat', sans-serif;
}

  .title-row{
    padding-top: 10px;
    height: 100px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }

  .sidenav a {
    padding: 8px 8px 8px 85px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .logo{
    height: 250px;
    padding-bottom: 20px;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }

  .btn-circle i {
    position: relative;
    top: -1px;
  }

  [type='radio'] {
    display: none; 
    }

  .border1{
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
  }

  .border2{
    padding-top: 25px;
    padding-bottom: 25px;
    border-color: white;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
  }

.button:hover {background-color: #357237}

.excited{
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  height: 67px;
}

.excited:hover {
  background-color: #dce4dc80
}


.happy{
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  height: 65px;
}

.happy:hover {
  background-color: #dce4dc80
}

.neutral{
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 8px;
  height: 68px;
}

.neutral:hover {
  background-color: #dce4dc80
}

.sad{
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  height: 65px;
}

.sad:hover {
  background-color: #dce4dc80
}

.mad{
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  height: 67px;
}

.mad:hover {
  background-color: #dce4dc80
}

/*login page*/
  button[type=button] {
    text-align: center;
    font-size:0.8em;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-bottom:20px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #22acea;
    width: 250px;
    height:50px;
    border-radius:25px;
    font-size: 1.3em;
    font-family: dm-sans, sans-serif;
    font-weight: 700;
    background-image: none;

}

#button {
    text-align: center;
    font-size:0.8em;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-bottom:20px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #22acea;
    width: 250px;
    height:50px;
    border-radius:25px;
    font-size: 1.3em;
    font-family: dm-sans, sans-serif;
    font-weight: 700;
    background-image: none;
}

.login {
    margin: auto;
    width: 50%;
}

.end-pic {
    text-align: center;
}

.end-pic img {
    width: 35%;

}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
