
h4{
  font-weight: 100;
  padding-bottom: 20px;
}

.startmed{
  border-color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  height: 60px;
}


.preferences{
  border-color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  height: 270px;
  width: 30%;
  padding-left: 60px;
  padding-right: 60px;
}

.row{
  padding-left: 15%;
  padding-right: 15%;
}

[type='radio'] {
  display: none; 
  }


h4{
  padding:10px;
  padding-bottom: 5px;
  font-weight: 100;
}

.meditateSelect{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.soundSelect{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 5px;
  width: 200px;

}

.meditateSelect, .soundSelect{
  padding: 10px;
  width: 200px;
  font-size: 15px;
  border-color: #f2bcac;
  background-color: #f2bcac;
  border-radius: 10px;
}

select option{
  font-size: 15px;
}

.CDoptions{
  margin-left: 20px;
}
a:hover{
  text-decoration: none;
}